// variables

// font
$font-stack: Poppins, sans-serif;
$font-headings: Georgia, "Times New Roman", Times, serif;
$font-special: Open Sans, sans-serif;

// size
$font-xxs: 1.2rem;
$font-xs: 1.6rem;
$font-s: 1.8rem;
$font-m: 2.4rem;
$font-l: 3.6rem;
$font-xl: 4.8rem;

// color functions
$color: darken(#d06297, 60);
$color-light: lighten(#d06297, 99);
$color-headings: darken(#d06297, 90);
$color-links: lighten(#d06297, 5);
$color-hover: darken(#d06297, 50);
$color-navs: white;

// background color functions
$bg-color: lighten(#d06297, 35);
$bg-color-header: #d06297;

// margin and padding
$margin: 2.5%;
$margin-text: 0.5% 2.5%;
$padding: 2rem;
$padding-text: 1rem;

// border
$border: 0.2rem solid $color-navs;
$border-hover: 0.2rem solid darken(#d06297, 50);
$border-rad: 0.5rem;
